<div class="row">
  <div class="col-md-3">
    <h2>{{row.full_name}}</h2>
    <p>Average Yearly Points: {{row.average_total_points}}</p>
    <p>Average Weekly Points: {{row.average_regular_season_score}}</p>
  </div>
  <div class="col-md-9">
    {{new-chart data=row.regular_season_scores_array name=row.full_name}}
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-hover">
      <thead>
        <th>Year</th>
        <th>Team Name</th>
        <th>Points For</th>
        <th>Points Against</th>
        <th>Avg. Weekly Points</th>
        <th>Wins</th>
        <th>Losses</th>
      </thead>
      <tbody>
        {{#each row.teams as |team_model|}}
        <tr>
          <td>{{team_model.league_year}}</td>
          <td>{{team_model.name}}</td>
          <td>{{team_model.points_for}}</td>
          <td>{{team_model.points_against}}</td>
          <td>{{avg-pts team_model.points_for team_model.wins team_model.losses}}</td>
          <td>{{team_model.wins}}</td>
          <td>{{team_model.losses}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
