{{#paper-card
  class="player-dialog"
  onClose=(action "closeDialog" "cancel")
  origin=dialogOrigin
  clickOutsideToClose=true
  fullscreen=true as |card|}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{capitalize owner.first_name}} {{capitalize owner.last_name}}{{/text.headline}}
      {{#text.subhead}}{{owner.career_wins}}-{{owner.career_losses}}{{/text.subhead}}
    {{/title.text}}
    <span class="flex"></span>
    {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
  {{/card.title}}

  {{#card.content}}
    {{#paper-tabs
      center=center
      stretch=stretch
      borderBottom=borderBottom
      selected=selectedBasicTab
      onChange=(action (mut selectedBasicTab)) as |tabs|}}
      {{#tabs.tab}}
        Seasons
      {{/tabs.tab}}
      {{#tabs.tab}}
        Head to Head
      {{/tabs.tab}}
      {{#tabs.tab}}
        Sabermetrics
      {{/tabs.tab}}
      {{#tabs.tab}}
        Trophy Case
      {{/tabs.tab}}
    {{/paper-tabs}}

    {{#liquid-bind (hash tab=selectedBasicTab) class="md-padding" as |current|}}
        {{#if (eq current.tab 0)}}
          {{owner-teams-table teams=owner.teams}}
        {{else if (eq current.tab 1)}}
          {{head-to-head-table model=owner.head_to_head_vs_all}}
        {{else if (eq current.tab 2)}}
          {{#if (await owner.team_matchups)}}
            {{#paper-tabs
              center=center
              stretch=stretch
              borderBottom=borderBottom
              selected=selectedStatYearTab
              onChange=(action (mut selectedStatYearTab)) as |tabs|}}
              {{#each owner.teams as |team|}}
                {{#tabs.tab}}
                  {{team.league_year}}
                {{/tabs.tab}}
              {{/each}}
            {{/paper-tabs}}

            {{#liquid-bind (hash tab=selectedStatYearTab) class="md-padding" as |chart_current|}}
              {{#each owner.teams as |team index|}}
                {{#if (eq chart_current.tab index)}}
                  <div class="chart_container">
                    {{new-chart data=team.team_matchups name=team.name year=team.league_year}}
                  </div>
                {{/if}}
              {{/each}}
            {{/liquid-bind}}
          {{/if}}
        {{else if (eq current.tab 3)}}
          {{trophy-case owner=owner}}
        {{/if}}
    {{/liquid-bind}}
  {{/card.content}}
{{/paper-card}}
