{{#paper-dialog class="player-dialog" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true fullscreen=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{owner.full_name}}</h2>
      <h4>: ({{owner.career_wins}}-{{owner.career_losses}})</h4>
      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-dialog-content}}
    {{#paper-tabs
      center=center
      stretch=stretch
      borderBottom=borderBottom
      selected=selectedBasicTab
      onChange=(action (mut selectedBasicTab)) as |tabs|}}

      {{#tabs.tab}}
        Seasons
      {{/tabs.tab}}
      {{#tabs.tab}}
        Stats
      {{/tabs.tab}}
      {{#tabs.tab}}
        Trophy Case
      {{/tabs.tab}}
    {{/paper-tabs}}

    {{#liquid-bind (hash tab=selectedBasicTab) class="md-padding" as |current|}}
      <div class="layout-row" style='width: 100%'>
        {{#if (eq current.tab 0)}}
          {{owner-teams-table teams=owner.teams}}
        {{else if (eq current.tab 1)}}
          {{#if (await owner.team_matchups)}}
            <div class="layout-row flex">
              <div class="flex">
                {{#paper-tabs
                  center=center
                  stretch=stretch
                  borderBottom=borderBottom
                  selected=selectedStatYearTab
                  onChange=(action (mut selectedStatYearTab)) as |tabs|}}
                  {{#each owner.teams as |team|}}
                    {{#tabs.tab}}
                      {{team.league_year}}
                    {{/tabs.tab}}
                  {{/each}}
                {{/paper-tabs}}
                  {{#liquid-bind (hash tab=selectedStatYearTab) class="md-padding" as |chart_current|}}
                    {{#each owner.teams as |team index|}}
                      {{#if (eq chart_current.tab index)}}
                        <div class="chart_container">
                          {{new-chart data=team.team_matchups name=team.name year=team.league_year}}
                        </div>
                      {{/if}}
                    {{/each}}
                  {{/liquid-bind}}
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/liquid-bind}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
    {{#paper-button onClick=(action "closeDialog" "ok")}}OK{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
