{{#paper-button raised=true onClick=(action (mut shouldShowSwiper) true)}}
  LETS SEE EM
{{/paper-button}}

{{#if shouldShowSwiper}}
  {{#paper-swiper as |swiper|}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media.tenor.com/images/2332f9c72569650213eaef8c5060ae03/tenor.gif"}}
      {{#slide.headline}}
        Week 5 Power Rankings
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Welcome!</h4>
        There has been a lot of talk recently about luck and who gets the break and who doesn't.<br>
        I figured I'd get above the riff raff and boop boop the real numbers to find out.<br>
        You'll notice that the the order here is also relativey indicative of the rankings to this point <br>
        Will that push the unlucky teams to the promised land? Or just continue the suffering? Probably Suffering.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media1.giphy.com/media/yaYV8i5n1OjZe/giphy.gif"}}
      {{#slide.headline}}
        Quick Explainer
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Lucky Win</h4>
        I consider a lucky win a matchup where you win, but would have lost to 50% of the league<br>
        <h4>Unlucky Loss</h4>
        I consider an unlucky loss a loss, but would have beaten to 50% of the league<br>

      {{/slide.subhead}}
    {{/swiper.slide}}


    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://img.buzzfeed.com/buzzfeed-static/static/2013-10/enhanced/webdr05/7/15/anigif_enhanced-buzz-9791-1381175964-16.gif"}}
      {{#slide.headline}}
        12. Andrew - This Rodeo Clown
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: 0.16188</h4>
        <h4>Adjusted Record: 38 - 61</h4>
        Some-fucking-how, you have managed to be so bad, yet be the luckiest player in league HISTORY. 13 of your 44 wins (30% !) are considered lucky, and only 7 out of your 55 wins are unlucky. Your record, adjusted for those lucky/unlucky games is 38 - 61. Sub 40! How?! <br>
        Related: <a href="https://www.bonappetit.com/recipe/classic-cassoulet">https://www.bonappetit.com/recipe/classic-cassoulet</a>
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://www.throwbacks.com/content/images/2017/05/post-34168-girl-truck-wheelies-gif-perfec-KpaL.gif"}}
      {{#slide.headline}}
        11. Melissa - The kid who had power wheels
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: 0.11706</h4>
        <h4>Adjusted Record: 45 - 53</h4>
        27% of your wins mark down as lucky. For a two time champ, this isn't great! You probably should concentrate all your time on growing our child, so just let me know who you'd like to send over in a trade. It'll help all of us :)
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media.giphy.com/media/lYpQO9D2Hor6M/giphy.gif"}}
      {{#slide.headline}}
        10. Jeff Donovan - The Celtics Mascot (Not a short joke but kind of)
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: 0.04761</h4>
        <h4>Adjusted Record: 50 - 48</h4>
        Last year's champ comes in at number 10. With only a single lucky win last year out of his 10 total, that means in years prior, Jeff racked up 15 out of his 46 wins as lucky ones. That is 1/3 of his wins! Yikes! Your team stinks this year.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://img.buzzfeed.com/buzzfeed-static/static/2014-04/enhanced/webdr06/2/9/anigif_enhanced-4616-1396444570-14.gif"}}
      {{#slide.headline}}
        9. Mike Avery - This video of you hunting
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: 0.04412</h4>
        <h4>Adjusted Record: 25 - 33</h4>
        Mr. Avery, I would like to think as a fellow engineer, you would be a data driven, force to be reckoned with in this league. There was one good year (with only a single lucky win), but the rest have been sub .500. Tough year w injuries this year, maybe move a couple of pieces? Maybe to me?
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media.giphy.com/media/PMqhzKfuiMLQc/giphy.gif"}}
      {{#slide.headline}}
        8. Dan Neary - A little stitious
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.00981</h4>
        <h4>Adjusted Record: 43 - 54</h4>
        As we get into our first negative luck values, this means your more unlucky than lucky. But lets hold on one damn second. If we use a quick luck adjusted record, you're still 2nd lowest win total to Andrew (oh no.). You're on a bit of a roll this year. Lots of red on that roster, could he be catching the injury bug? You'd hate to see it stop soon.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media.giphy.com/media/YXyx39l5VulJ6/giphy.gif"}}
      {{#slide.headline}}
        7. Lindsay - Andrew Luck (I don't know, it's late.)
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.02907</h4>
        <h4>Adjusted Record: 42 - 41</h4>
        I want to reiterate, that just because your luck score is toward unlucky, doesn't mean you should think that you're any good. Your adjusted record here would get pushed to one game above 500. A really tough break with Lev not reporting, but some decent moves to try to fix it. Who knows, maybe a run is in sto...hahahaha sorry I couldn't even finish that sentence.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://i.redd.it/2hi84kame84y.jpg"}}
      {{#slide.headline}}
        6. Evan - These fake-ass lucky charms
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.05628</h4>
        <h4>Adjusted Record: 55 - 42</h4>
        Right smack dab in the middle, this fuckin guy. I'm sure hes going to take this and run w/it, but if we adjust his record guess what. It stays exactly the same. Because the better player you are, you get more credit in this calculation for unlucky losses (again it's late), but for someone like Evan who has the same amount of lucky wins and unlucky losses, the adjustment tells more of a story than the score. Your team also stinks like these fake ass lucky charms.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="http://farm9.staticflickr.com/8396/8645477069_7b92a72992_o.gif"}}
      {{#slide.headline}}
        5. Joe - This Tiger Putt
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.06856</h4>
        <h4>Adjusted Record: 54 - 44</h4>
        I think Joe has the same symptoms as Evan. A historically decent player with a smaller number of losses, which magnifies the unlucky ones. I don't know man, your team is good. Probably will make the playoffs. Probably will lose first or second round. Like clockwork.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media1.tenor.com/images/238f321641dd272bd87abb31de20fc94/tenor.gif"}}
      {{#slide.headline}}
        4. Danny Mo - This chick getting pooped on
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.06892</h4>
        <h4>Adjusted Record: 56 - 42</h4>
        Will he even see this? Does he even know hes undefeated? Is anybody even listening to me? Anyways, his teams really good. Bulldozing people at this point. Although An injury or two away from not being able to pick up anyone from waivers! 
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media2.giphy.com/media/3ohfFk9XJF9s0F9o3u/giphy.gif"}}
      {{#slide.headline}}
        3. Nick - Just beating the odds every day
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.06892</h4>
        <h4>Adjusted Record: 60 - 39</h4>
        Boy. I don't even know what to say, really. I mean an unlucky score this low, but yet here I am winning championships year over year. Really makes u think, u know? My adjusted record actually would get 2 wins tacked on. Really makes you think how it would play out if luck would just get on my side one of these days.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://media1.tenor.com/images/aef823c0afd8136680443d78725ab84a/tenor.gif"}}
      {{#slide.headline}}
        2. Jason - Literally this guy
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.14474</h4>
        <h4>Adjusted Record: 23 - 20</h4>
        This is our first really unlucky player. Jason is bitten both ways. First he only has 2 lucky wins! By far Jason has the lowest lucky win percentage out of all eligible members. But on top of that, 1/4 of his losses have been of the unlucky variety. Tough breaks man. Tough breaks.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://pics.esmemes.com/only-facebook-friend-is-mom-cyberbullied-uick-meme-bad-luck-5621414.png"}}
      {{#slide.headline}}
        1. Brian - BAD LUCK BRIAN
      {{/slide.headline}}
      {{#slide.subhead}}
        <h4>Luck Score: -0.14474</h4>
        <h4>Adjusted Record: 57 - 40</h4>
        It pains me to say this but, poor Brian. His adjusted record would add 5 wins! to his total. Thats almost a 10% increase just from luck alone! Wowza. Anyways, this could he be year! A single 2nd place finish is the only highlight. He deserves this one, good ole Bad Luck Brian.
      {{/slide.subhead}}
    {{/swiper.slide}}
  {{/paper-swiper}}

{{/if}}
